@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   background-image: linear-gradient(
      to right bottom,
      #051937,
      #00426a,
      #006e79,
      #00985a,
      #83b80c
   );
}

.custom-style-bg {
   background-image: linear-gradient(
      to right top,
      #999999,
      #7e8993,
      #577e82,
      #43705d,
      #4e5c2f
   );
}

button {
   @apply relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-xl  bg-gradient-to-br from-purple-600 to-blue-500 hover:to-blue-500 hover:from-purple-200 hover:text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 px-5 py-2.5 transition-all ease-in duration-200 bg-white dark:bg-gray-900 hover:bg-opacity-0;
}

.contain__post-item {
   @apply w-1/2 h-1/4 mx-auto p-3 rounded-2xl my-8 custom-style-bg text-lg font-semibold;
}

.post-item__title {
   @apply mb-1;
}
.post-item__body {
   @apply mb-3;
}

svg {
   width: 100px;
   height: 100px;
   margin: 20px;
}

.global {
   background-color: rgb(0, 0, 0);
   width: 100%;
   min-height: 100vh;
   color: white;
}

.wrapper {
   display: grid;
   font-size: 20px;
   place-items: center;
   padding-top: 15%;
}

.style-not-found {
   display: grid;
   font-size: 20px;
   place-items: center;
   padding-top: 5%;
}

img {
   border-radius: 10px;
   margin-bottom: 20px;
   margin-top: 20px;
}
